@charset "utf-8";
@use "src/style/_variables.scss" as variables;
@use "src/style/_mixins.scss" as mix ;

.new-task {
  width: 1000px;
  margin: 0 auto;
}

.new-task-form {
  color: variables.$inputcolor;
}

.new-task-select-list,
.new-task-title,
.new-task-detail {
  width: variables.$inputwidth;
  margin-bottom: 25px;
}

.new-task-detail {
  height: 200px;
}

.new-task-button {
  @include mix.positive-button;
}

.error-message {
  color: #ff3333;
}
