@charset "utf-8";
@use "src/style/_variables.scss" as variables;
@use "src/style/_mixins.scss" as mix ;

.signup {
  width: 500px;
  margin: 0 auto;
}
.signup-form {
  margin: 25px 0;
  color: variables.$inputcolor;
}

.email-input,
.name-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signup-button {
  @include mix.positive-button;
}

.error-message {
  color: variables.$negativecolor;
}
