$maincolor: #242f9b ;
$negativecolor: #ff3333;
$white:#ffffff;
$inputcolor:#555555;
$inputwidth: '300px' ;

$breakpoints: (
  'sm': (min-width: 576px),
  'md': (min-width: 768px),
  'lg': (min-width: 992px),
  'xl': (min-width: 1200px),
  'xxl': (min-width: 1400px)
) !default;



